table.palette {
	border: 0px;
}

table.palette td.header {
	color: #fafafa;
	background-color: #2c3e50;
	font-family: arial;
	font-size: 12px;
	padding: 2px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: border-color .218s;
	-moz-transition: border .218s;
	-o-transition: border-color .218s;
}

table.palette td.pane {
	width: 100px;
	text-align: center;
}

table.palette td.pane select {
	width: 200px;
	padding: 3px;
	margin: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	-moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	background: #f8f8f8;
	color: #888;
	border: none;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

table.palette td.buttons {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

table.palette td.buttons button {
	width: 40px;
	height: 40px;
	color: #6e6e6e;
	font: bold 12px Helvetica, Arial, sans-serif;
	text-decoration: none;
	padding: 7px 12px;
	position: relative;
	display: inline-block;
	text-shadow: 0 1px 0 #fff;
	-webkit-transition: border-color .218s;
	-moz-transition: border .218s;
	-o-transition: border-color .218s;
	transition: border-color .218s;
	background: #f3f3f3;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5),
		to(#F1F1F1));
	background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5),
		to(#F1F1F1));
	border: solid 1px #dcdcdc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin-top: 5px;
}

table.palette td.buttons button:hover {
	color: #333;
	border-color: #999;
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

div.tabpanel div.tab-row {
	float: left;
	width: 100%;
	background: #DAE0D2 url("bg.gif") repeat-x bottom;
	line-height: normal;
}

div.tabpanel div.tab-row ul {
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
}

div.tabpanel div.tab-row li {
	float: left;
	background: url("left.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 9px;
}

div.tabpanel div.tab-row a {
	display: block;
	background: url("right.gif") no-repeat right top;
	padding: 5px 15px 4px 6px;
	text-decoration: none;
	font-weight: bold;
	color: #765;
	white-space: nowrap;
}

div.tabpanel div.tab-row a:hover {
	color: #333;
}

div.tabpanel div.tab-row li.selected {
	background-image: url("lefton.gif");
}

div.tabpanel div.tab-row li.selected a {
	background-image: url("righton.gif");
	color: #333;
	padding-bottom: 5px;
}

body {
	background-color: #fafafa;
	margin: 0 auto;
}

#body_content {
	width: 1000px;
	margin: 60px auto 0px auto;
}

#notificationTable {
	cursor: default;
	position: absolute;
	right: -40px;
	top: 50px;
	width: auto;
	height: auto;
	max-width: 500px;
	height: 20px;
	border: none;
	background-color: #fefefe;
	border: 1px solid gray;
	color: black;
}

#notificationTable .linkItem {
	margin: 5px 10px;
}

#notificationTable td:hover {
	background-color: #eee;
	cursor: default;
}

#notificationButton {
	position: absolute;
	right: -35px;
	top: 5px;
}

#addEventPageMap {
	position: absolute;
	right: 10px;
	width: 500px;
	height: 400px;
}

#addEventPageMapForm{
	position: absolute;
	right: 145px;
	top: 250px;
	
}


#addRemovePlaceMessage {
	width: auto;
}

#linkto {
	max-width: 120px;
	min-width: 50px;
	overflow: hidden;
}

#expandBtn {
	margin-left: 45%;
	background-color: #d1d1d1;
	width: 110px;
	border-radius: 0 0 10px 10px;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
}

#joinLeaveButton {
	margin-right: 10px;
}

#eventEditButton {
	margin-right: 10px;
}

#addItems24 {
	padding-left: 0px;
}

#editProfilePage .alert {
	margin-left: 30px;
	max-height: 22px;
	width: 400px;
}

#editPageForms .alert {
	margin-left: 20px;
	max-height: 22px;
}

#homePageMessage {
	text-align: center;
	width: 90%;
	margin-left: 20px;
}

#deletePlaceForm .alert,#addNewPlaceForm .alert {
	max-height: 22px;
	width: 400px;
}

#addNewPlaceForm {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid gray;
}

#editProfilePage {
	background-color: white;
	padding-bottom: 60px;
}

#editProfilePage #profileHeader {
	border-bottom: 10px solid #27447F;
}

#editProfilePage h3 {
	margin-left: 50px;
}

#searchPanel .input-medium {
	margin-top: 7px;
}

#searcher_middle button {
	margin-bottom: 7px;
}

#searcher {
	padding: 10px 10px 10px 20px;
	position: relative;
	font-family: verdana;
	float: none;
	margin: -25px auto 0 auto;
	display: block;
}

#searcher_middle {
	max-height: 500px;
	padding-top: 5px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
}

#searcher_result {
	
}

#search_error_label {
	color: #EE4449;
}

#searcher_form {
	display: inline;
}

#body_content {
	padding-top: 15px;
	position: relative;
}

#event_buttons {
	margin-top: 0px;
}

#event_buttons button {
	width: 90px;
}

#home_button {
	float: left;
	margin-top: 0px;
	margin-left: 150px;
	position: relative;
	z-index: 0;
}

#addEventForm,#joinEventForm,#userRegistrationForm {
	width: 600px;
}

#userRegistrationForm {
	width: 600px;
	margin: 0 auto;
}

#loginForm {
	width: 800px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
}

#joinEventForm h3,#loginForm .signIn h3 {
	padding-left: 120px;
}

#loginForm .notMember {
	height: 200px;
	text-align: left;
	padding-left: 30px;
}

.notMember .btn {
	margin-top: 27px;
}

#top_menu {
	z-index: 1;
	color: #fafafa;
	min-width: 1000px;
	width: 100%;
	height: 54px;
	position: fixed;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	padding: 0px;
	background-color: #2c3e50;
	vertical-align: center;
}

#top_menu .left_float {
	position: absolute;
	top: 12px;
	float: right;
	right: 160px;
}

#top_menu a {
	left: 1px;
	top: 5px;
}

#top_menu img {
	padding-left: 0px;
}

.evntImage {
	margin-left: 50px;
}

#top_menu .right_float {
	padding: 0px;
	right: 0px;
	top: -10px;
}

#titleText {
	font-size: 2.5em;
	overflow: hidden;
}

}
#listPanelError {
	text-align: center;
}

/*Top panel profile menu button*/
#profileMenu {
	margin-bottom: 10px;
}

.title {
	overflow: hidden;
}

.eventDescriptionText {
	font-family: Arial;
	position: relative;
	max-height: 200px;
	max-width: 350px;
	overflow: auto;
	word-wrap: break-word;
}

.aboutEvent {
	min-width: 400px;
}

.event_list_item {
	overflow: auto;
	width: auto;
	min-width: 900px;
	min-height: 120px;
	padding: 15px;
	margin: 0px 20px 20px 5px;
}

.event_list_item .btn-longer {
	min-width: 130px;
}

.event_list_item #joinLeaveButton {
	marign-right: 10px;
}

.event_list_item .left {
	float: left;
}

.event_list_item .right {
	float: left;
}

.event_list_item .participantsField {
	min-width: 130px;
	padding-right: 10px;
}

.event_list_item #titleText{
	margin-left: 8px;
}


.left_float {
	float: left;
}

.defaul_size_input {
	width: 234px;
}

.defaul_size_textare {
	width: 234px;
	max-width: 234px;
	min-width: 234px;
	height: 150px;
	min-height: 150px;
	max-height: 150px;
}

.right_float {
	float: right;
	padding-right: 40px;
}

/* CSS for user profile page */
#profileHeader .headerName {
	position: absolute;
	left: 220px;
	top: 100px;
	color: white;
	font-size: 2em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#profilePage .listImage, #bigMapEventList .listImage {
	display: none;
}

#bigMap{
	width: 500px;
	height: 500px;	 
	margin-bottom: 10px;
}

#mapEventList{
	position: absolute;
	right: 250px;
	top: 0px;
	width: 200px;
}

#profilePage .createdEvents {
	position: absolute;
	top: 450px;
	width: 400px;
}

#profilePage .title {
	margin-bottom: -20px;
}

#profilePage #titleText {
	display: table;
	margin-bottom: -20px;
	font-size: 1.3em;
}

#profilePage #event_buttons {
	margin-bottom: -20px;
	margin-top: -35px;
}

#profilePage #info span {
	margin-left: 20px;
}

#profilePage .eventDescriptionText {
	display: none;
}

#profilePage .participatedEvents {
	position: absolute;
	top: 450px;
	right: 20px;
	width: 400px;
	max-width: 400px;
}

#profilePage .createdEvents h3,#profilePage .participatedEvents h3 {
	margin-left: 30px;
}

#profileAvatar {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 100px;
	top: 70px;
}

#profileBackground {
	border-radius: 40px;
}

#profilePage .profileInfo {
	border-top: 10px solid #FAE763;
	padding: 20px;
	margin-bottom: 30px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background-color: white;
}

#mapEventList .notPublic{
	display: none;
}

#profilePageEventList .notPublic{
	display: none;
}